repos:
  - repo: local
    hooks:
      - id: mkdocs-lint
        name: Lint
        entry: bash -c "just fmt"
        language: system
        pass_filenames: false

      - id: mkdocs-build
        name: MkDocs Build
        entry: bash -c "just build"
        language: system
        pass_filenames: false

      - id: check-duplicate-topics
        name: Duplicate Topics Check
        entry: bash -c "just check-duplicates"
        language: system
        pass_filenames: false
